{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<style>
    .feature {
        font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: -2px;
        margin: 10px 0;
    }
    .feature small{
        color: rgba(52, 73, 94, 0.30000000000000004);
        display: block;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0;
        padding-top: 5px;

    }

</style>

{% endblock %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class='container'>
    <div class='demo-headline'>
        <h1 class='feature'>

            <div class='group'>
            nDim
            <small>Visualize High Dimensional Data</small>
            </div>
        </h1>
    </div>

</div>

{% verbatim %}

<script type="text/x-handlebars" data-template-name="application">
    {{outlet 'content'}}
</script>

{% endverbatim %}
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
